@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  color: #fefefe;
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom right, #38a2d7, #561139);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  padding: 6rem 0;
  font-size: 4rem;
  font-weight: 600;
}

.side-bar {
  height: 100vh;
  width: 14rem;
  background-color: #202123;
}

.side-bar button {
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-radius: 5px;
}

nav {
  border-top: 0.5px solid rgba(255, 255, 255, 0.5);
}

.history {
  height: 100%;
}

.author {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
}

.main {
  width: calc(100% - 14rem);
  text-align: center;
}

.bottom-section {
  justify-content: center;
}

.info {
  padding: 0.75rem;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
}

input[type="text"] {
  height: 65px;
  padding: 0.875rem 1rem;
  font-size: 1.25rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 54px 55px, rgba(0, 0, 0, 0.05) 0 -12px 20px,
    rgba(0, 0, 0, 0.05) 0 4px 6px, rgba(0, 0, 0, 0.05) 0 12px 3px,
    rgba(0, 0, 0, 0.09) 0 -3px 5px;
}

input[type="text"]:focus {
  outline: none;
}

.input-container {
  position: relative;
  max-width: 650px;
}

.input-container #submit {
  position: absolute;
  right: 20px;
  bottom: 13px;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  background: transparent; 
}
.input-container #submit:hover {
  color: #202123;
}

/* Helper classes */
.hidden {
  display: none !important;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}

.w-100 {
  width: 100%;
}

.m-1 {
  margin: 0.875rem;
}

.p-1 {
  padding: 0.875rem;
}